<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head'); %>
</head>
<body>
    <%- include('./components/navbar'); %>
    <div class="intro">
        <div class="intro-media">
            <video class="intro-video" src="media/intro.mp4" autoplay muted loop></video>
        </div>
        <div class="container">
            <div class="intro-info">
                <h1 class="intro-header">Course Work</h1>
                <p class="intro-text">This is a term paper by a student of the Institute of Physics, group 3041 Falyan Georgiy. 
                    This resource presents an interface to the database of scientific publications of employees of the Saratov State University 
                    named after N.G. Chernyshevsky for 2019. This work is a logical continuation of the "database development" topic.</p>
                <a href="/publications" class="intro-btn btn btn-primary btn-lg">View publications</a>
            </div>
        </div>
    </div>
</body>
</html>