<div class="col-md-3">
    <span>Sort by</span>
    <select class="form-select" aria-label="Default select example">
        <option value="1">Articles 	&#8593;</option>
        <option value="2">Articles 	&#8595;</option>
        <option value="3">Rating &#8593;</option>
        <option value="4">Rhree &#8595;</option>
    </select>
</div>